# Arquivos de Banco de Dados e Configurações Sensíveis
db.json
.env

# Certificados SSL/TLS (Segurança)
*.pem
cert.pem
key.pem

# Binários Executáveis Gerados Localmente
core
arc_server
*.o
*.so

# Arquivos de Log
*.log
arc_server.log